.NavBarcontainer{
    background: white;
    padding: 10px;
}

.Navbarrow{
    display: flex;
    gap: 10px;
    align-items: center;
}

.NavBarWrapper{
    display: flex;
    justify-content: space-between;
}